<section class="p-4 rounded-3 border m-3" style="background-color: #b2e3fa">
  <p class="fw-bold">Search Patient</p>
  <div class="row">
    <!-- search data by field section-->
    <div class="col-6">
      <div
        class="border rounded-3"
        style="background-color: #ebf3f6; height: 80vh"
      >
        <p class="ps-3 rounded-3 border bg-warning fw-bold">Search by</p>
        <table class="table m-3">
          <tr>
            <td>\ First name</td>
            <td>
              <input
                type="text"
                class="form-control w-75"
                [(ngModel)]="patientData['/']"
                (keyup)="setSearchFieldValue()"
              />
            </td>
          </tr>
          <tr>
            <td>@ Last name</td>
            <td>
              <input
                type="text"
                class="form-control w-75"
                [(ngModel)]="patientData['@']"
                (keyup)="setSearchFieldValue()"
              />
            </td>
          </tr>
          <tr>
            <td># Chart no</td>
            <td>
              <input
                type="text"
                class="form-control w-75"
                [(ngModel)]="patientData['#']"
                (keyup)="setSearchFieldValue()"
              />
            </td>
          </tr>
          <tr>
            <td>$ Address 1</td>
            <td>
              <input
                type="text"
                class="form-control w-75"
                [(ngModel)]="patientData['$']"
                (keyup)="setSearchFieldValue()"
              />
            </td>
          </tr>
        </table>
      </div>
    </div>
    <!-- search bar and results section -->
    <div class="col-6">
      <div class="border rounded-3" style="background-color: #ebf3f6">
        <div
          class="d-flex justify-content-between fw-bold rounded-3 border bg-warning"
        >
          <p class="mb-1 ms-2">Search</p>
          <p class="mb-1 me-1">Use % sign to search anywhere in the column.</p>
        </div>
        <div class="d-flex p-3">
          <input
            type="search"
            class="form-control"
            [(ngModel)]="searchFieldValue"
            (keyup)="setFieldDataBasedSearch()"
          />
          <!-- search button -->
          <button
            class="btn border ms-1 btn-info"
            type="button"
            (click)="getSerchData()"
          >
            Search
          </button>
          <!-- clear button -->
          <button
            class="btn border ms-1 btn-info"
            type="button"
            (click)="clear()"
          >
            Clear
          </button>
        </div>
      </div>
      <!-- results section -->
      <div class="border rounded-3 mt-3" style="background-color: #ebf3f6">
        <p class="ps-3 rounded-3 border bg-primary text-white fw-bold">
          Results
        </p>
        <div class="table-responsive" style="height: 52vh">
          <table class="table mx-3 table-bordered w-100">
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Chart No</th>
              <th>Address 1</th>
            </tr>
            <tr *ngFor="let user of filterData">
              <td>{{ user.FirstName }}</td>
              <td>{{ user.LastName }}</td>
              <td>{{ user.ChartNo }}</td>
              <td>{{ user.Address1 }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
